html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

#map {
    right: 0;
    height: 100%;
    position: absolute;
}

#options-box {
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    overflow: scroll;
}

#search-box {
    margin-bottom: 5%;
}